{% extends 'base.html' %}
{% block content %}
<main class="h-full pb-16 overflow-y-auto">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-green-500">
                Update
            </h2>

            <div class="px-4 py-3 mb-8 bg-[#f5f5f5] rounded-lg shadow-md">
                <label class="block text-sm">
                    <span class="text-gray-700">Name</span><span class="text-red-600">*</span>
                    {{ form.truck_number }}
                </label>


                <label class="block text-sm mt-4">
                    <span class="text-gray-700">Capacity in  Kgs</span><span class="text-red-600">*</span>
                    {{ form.capacity }}
                </label>

                <label class="block text-sm mt-4">
                    <span class="text-gray-700">Driver</span><span class="text-red-600">*</span>
                    {{ form.driver }}
                </label>

                <label class="block text-sm mt-4">
                    <span class="text-gray-700">Pcurrent Location</span><span class="text-red-600">*</span>
                    {{ form.current_location }}
                </label>
                <label class="block text-sm mt-4">
                    <span class="text-gray-700">Active Status</span><span class="text-red-600">*</span>
                    <div class="flex items-center space-x-2 mt-1">
                        {{ form.active_status }}
                        <span class="text-sm text-gray-600">Check if the truck is active</span>
                    </div>
                </label>
                

                <div class="flex justify-end mt-6">
                    <button type="submit"
                        class="px-6 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 transition">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</main>
{% endblock %}
